@charset "utf8";
@font-face {
font-family: 'petiskerya' ;
src: url('fontes/Restaurant.otf');
font-weight: normal;
font-style: normal;
}



:root {
    --cor0: #ebe5c5;
    --cor1: #341606;
    --cor2: yellow;
    --cor3: #ffff4a;
    --cor4: ;
    --cor5: ;
    --corbranco: #ffffff;
    --corpreto: black;
  
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'petiskerya';
    --fonte-menu: ;
}
  
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    font-size: 20px;
}
  
body {
    background-color: var(--cor0);
}

header {
    width: 100%;
    text-align: center;
    height: 210px;
    background-color: var(--corpreto);
    position: sticky;    
    top: 0;
    vertical-align: top;
}

nav {
    height: 650px;
    margin: auto;
}

nav > h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px;
}

nav > h2 > a {
    font-size: 2em;
    text-decoration: none;
    color: var(--cor1);
}

nav > h2 > a:hover {
    text-decoration: underline;
}

table {
    text-align: center;
    margin: auto; 
    margin-top: 50px;
    border-collapse: separate;
}

td {
    padding: 12px;
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    background-color: var(--corpreto);
    
}

td > h2 > a {
    font-family: var(--fonte-padrao);
    text-decoration: none;
    font-size: 2em;
    color: var(--cor1);
    color: var(--cor3)
}

td > h2 > a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    min-height: 100vh;
}

main > h2 {
    margin: 50px;
}

.menu {
    height: 1200px;
    width: 900px;
    margin: auto;
    margin-bottom: 100px;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.39);
}

.menu > h3  {
    font-family: var(--fonte-destaque);
    font-size: 5em;
    text-shadow: 3px 3px 10px rgba(182, 155, 0, 0.123);
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;    
    padding: 10px;
    background-color: var(--corpreto)
}    

.menu > h4 {
    font-size: 3em;
    text-shadow: 3px 3px 10px rgba(182, 155, 0, 0.123);
}

.menu > p {
    font-size: 1.5em;
    color: #ffff4a;
    margin-bottom: 40px;
}

.menu > img {
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: var(--cor2);
    text-align: center;
}